@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for Firefox */
.no-scrollbar {
scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for IE and Edge */
.no-scrollbar {
-ms-overflow-style: none;  /* IE and Edge */
}
@layer base {
  :root {
        --radius: 0.5rem;
    }
}